@{
    ViewData["Title"] = "مدیریت دسته بندی ها - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item">مدیریت دسته بندی ها</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">مدیریت دسته بندی ها</div>
    <div class="panel-body" id="app">
        <div id="tree"></div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            loadTree: function () {
                $(function () {
                    $.ajax({
                        url: '/Admin/CategoryManagement/Get',
                        success: function (result) {
                            var tree = $('#tree').tree({
                                primaryKey: 'id',
                                uiLibrary: 'bootstrap',
                                dataSource: result,
                                checkboxes: false,
                            })
                        }
                    })
                })
            }
        },
        created: function () {
            console.log('message is: ' + this.message);
            this.loadTree();
        }

    })
    $(document).ready(function () {
        $('#btnSave').on('click', function () {
            alert(tree.getSelections());
        });
    });
</script>
