@{
    ViewData["Title"] = "مدیریت دسته بندی ها - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- item template -->
<script type="text/x-template" id="item-template">
  <li>
    <div
      :class="{bold: isFolder}">
      <span style="cursor: pointer;" v-on:click="toggle" v-if="isFolder">[{{open ? '-' : '+'}}]</span>
      {{model.title}}

      <span class="action">
        <a href="#" class="text-primary" v-on:click="edit(model)" style="margin-right:20px">ویرایش | </a>
        <a href="#" class="text-warning" v-on:click="add(model)">اضافه نمودن زیر دسته | </a>        
        <a href="#" class="text-danger" v-on:click="deleteCategory(model)">حذف</a>
      </span>
    </div>
    <ul v-show="open" v-if="isFolder">
      <item
        class="item"
        v-for="model in model.children"
        :model="model">
      </item>
    </ul>
  </li>
</script>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item">مدیریت دسته بندی ها</li>
    </ol>
</nav>

<div class="panel panel-primary" id="app">
    <div class="panel-heading">مدیریت دسته بندی ها
        <i v-if="loading" style="font-size: 20px;float:left;color:#fff" class="fa fa-spin fa-spinner"></i>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <a class="btn btn-warning" v-on:click="addMain()" style="margin-bottom:0px">اضافه نمودن لایه اصلی</a>
                <fieldset style="margin-top:10px">
                    <legend>دسته بندی ها </legend>
                    <ul class="tree-admin">
                        <item class="item" v-for="item in treeData" :model="item">
                        </item>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">اضافه نمودن / ویرایش</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="required">عنوان زیر دسته را وارد کنید </label>
                        <input v-model="title" type="text" placeholder="عنوان زیر دسته" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button :disabled="load" type="button" v-on:click="save" class="btn btn-primary flex-center">
                        <span>ثبت</span>
                        <i v-if="load" style="margin-right:10px" class="fa fa-spin fa-spinner"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            treeData: [],
            loading: true,
            title: '',
            id: null,
            mode: '',
            load: false
        },
        methods: {
            loadTree: function () {
                var me = this;
                me.loading = true;
                $.ajax({
                    url: '/Admin/CategoryManagement/Get',
                    success: function (result) {
                        me.treeData = result;
                        me.loading = false;
                    }
                })
            },
            save: function () {
                if (this.title === '') {
                    return toastr.error('عنوان نمی تواند خالی باشد');
                }
                let action = this.mode == 'add' ? 'Create' : 'Update';
                var me = this;
                let body = {
                    Title: this.title,
                }
                if (this.mode == 'add') {
                    body.ParentId = this.id
                }
                else {
                    body.Id = this.id
                }
                this.load = true;
                $.ajax({
                    url: '/Admin/CategoryManagement/' + action,
                    method: 'POST',
                    data: body,
                    success: function (result) {
                        if (result.isSuccess) {
                            me.loadTree();
                            me.load = false;
                            $('#editModal').modal('hide');
                            toastr.info('عملیات با موفقیت انجام شد ');
                        }
                        else {
                            toastr.error(result.error[0]);
                        }
                    }
                })
            },
            addMain: function () {
                this.title = '';
                this.id = null;
                this.mode = 'add';
                $('#editModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
        },
        created: function () {
            this.loadTree();
        }
    })

    Vue.component('item', {
        template: '#item-template',
        props: {
            model: Object
        },
        data: function () {
            return {
                open: false,
            }
        },
        computed: {
            isFolder: function () {
                return this.model.children &&
                    this.model.children.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.open = !this.open
                }
            },
            add: function (model) {
                app.title = '';
                app.id = model.id;
                app.mode = 'add';
                $('#editModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            },
            edit: function (model) {
                app.title = model.title;
                app.id = model.id;
                app.mode = 'edit';
                $('#editModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            },
            deleteCategory: function (model) {
                if (confirm('آیا مطمئن هستید ؟؟')) {
                    app.loading = true;
                    $.ajax({
                        url: '/Admin/CategoryManagement/Delete/' + model.id,
                        method: 'POST',
                        success: function (result) {
                            if (result.isSuccess) {
                                app.loadTree();
                                toastr.info('عملیات با موفقیت انجام شد ');
                            }
                            else {
                                toastr.error(result.errors[0]);
                            }
                            app.loading = false;
                        },
                        error: function (error) {
                            toastr.error('سرور با خطا مواجه شد');
                            app.loading = false;
                        }
                    })
                }
            }
        }
    }) 
</script>
