@{
    ViewData["Title"] = "مدیریت دسته بندی ها - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item">مدیریت دسته بندی ها</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">مدیریت دسته بندی ها</div>
    <div class="panel-body" id="app">
        <div class="row flex-center">
            <div class="col-md-6 col-xs-12">
                <div id="tree"></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <a class="btn btn-warning" id="btnSaveCategory">اضافه نمودن زیر دسته</a>
                <a class="btn btn-primary" id="btnEdit">ویرایش</a>
                <a class="btn btn-danger" id="btnRemove">حذف</a>
                <a class="btn btn-success" id="btnMeta">مدیریت متادیتا</a>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            id: null
        },
        methods: {
            loadTree: function () {
                var me = this;
                $(function () {
                    $.ajax({
                        url: '/Admin/CategoryManagement/Get',
                        success: function (result) {
                            var tree = $('#tree').tree({
                                primaryKey: 'id',
                                uiLibrary: 'bootstrap',
                                dataSource: result,
                                checkboxes: false,
                            })
                            $('#btnRemove').on('click', function () {
                                me.id = tree.getSelections();
                                if (me.id.length === 0) {
                                    return alert('آیتمی انتخاب نکردید');
                                }
                                alert(me.id);
                            });
                            $('#btnEdit').on('click', function () {
                                me.id = tree.getSelections();
                                if (me.id.length === 0) {
                                    return alert('آیتمی انتخاب نکردید');
                                }
                                alert(me.id);
                            });
                            $('#btnMeta').on('click', function () {
                                me.id = tree.getSelections();
                                if (me.id.length === 0) {
                                    return alert('آیتمی انتخاب نکردید');
                                }
                                alert(me.id);
                            });
                            $('#btnSaveCategory').on('click', function () {
                                me.id = tree.getSelections();
                                if (me.id.length === 0) {
                                    return alert('آیتمی انتخاب نکردید');
                                }
                                alert(me.id);
                            });
                        }
                    })
                })
            },            
        },
        created: function () {
            this.loadTree();
        }
    })    
</script>
