@{
    ViewData["Title"] = "درباره ما - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">درباره ما - ایمن فروش</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="detail">
            @Html.Raw(Shop.Mvc.Cache.CacheData.Info.AboutUs)
        </div>
    </div>
</div>
