@{
    ViewData["Title"] = "تماس با ما - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">تماس با ما - ایمن فروش</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="">
        <div class="detail">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post">
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label class="required">لطفا نظر خود را وارد کنید </label>
                                <textarea required name="Description" class="form-control" rows="5"
                                    placeholder="نظر خود را وارد کنید"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="ladda-button btn btn-danger btn-block" data-style="zoom-in">
                                    <span class="ladda-label">ثبت نظر</span>
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-danger" style="margin-bottom:0px">
                            <p>برای ثبت نظر باید وارد سایت شوید</p>
                            <p><a href="/Account/Login">اگر قبلا ثبت نام کرده اید از طریق این لینک وارد شوید</a></p>
                            <p><a href="/Account/Register">اگر قبلا ثبت نام نکرده اید از طریق این لینک وارد شوید</a></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
