@{
    ViewData["Title"] = "شرایط گارانتی - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">شرایط گارانتی - ایمن فروش</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="">
        <div class="detail">
            @Html.Raw(Shop.Mvc.Cache.CacheData.Info.GarantyCondition)
        </div>
    </div>
</div>
