@model Shop.Mvc.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "  فراموشی رمز عبور - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="login">
                <div class="login__title"> فراموشی رمز عبور در ایمن فروش</div>
                <div class="login__desc">اگر رمز عبور خود را فراموش کردید می توانید از این قسمت رمز جدید دریافت نمایید</div>
                <div class="text-center">
                    <div class="login__icon">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                </div>

                <form method="post">
                    
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="required"> شماره همراه خود را وارد کنید</label>
                        <input required="" type="text" class="form-control" placeholder="شماره همراه"
                               id="PhoneNumber"
                               asp-for="PhoneNumber">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">بازیابی رمز عبور</span>
                        </button>
                    </div>                   
                </form>
            </div>
        </div>
    </div>
</div>

