@model Shop.Mvc.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "ورود به سایت - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">ورود به سایت</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="login">
                <div class="login__title"> ورود به پنل کاربری ایمن فروش </div>
                <div class="login__desc">از این قسمت می توانید وارد پنل کاربری خود شوید</div>
                <div class="text-center">
                    <div class="login__icon">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                </div>

                <form method="post">
                    <input type="hidden" name="@Html.NameFor(c=>c.ReturnUrl)" value="@ViewBag.ReturnUrl"/>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="required"> شماره همراه خود را وارد کنید</label>
                        <input required="" type="text" class="form-control" placeholder="شماره همراه"                               
                               asp-for="PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label class="required">رمز عبور خود را وارد کنید</label>
                        <input required="" type="password" class="form-control" placeholder="رمز عبور" asp-for="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ورود به پنل</span>
                        </button>
                    </div>
                    <div class="form-group text-center">
                        <a style="font-size: 16px;" href="/Account/Register">اگر قبلا داخل سایت ثبت نام نکرده اید از این لینک اقدام کنید</a>
                    </div>
                    <div class="form-group text-center">
                        <a style="font-size: 16px;" href="/Account/ForgotPassword">اگر رمز عبور خود را فراموش کردید از طریق این لینک وارد شوید </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

