@model Shop.Mvc.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام در سایت - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">ثبت نام در سایت</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="login">
                <div class="login__title"> ثبت نام در ایمن فروش </div>
                <div class="login__desc">از این قسمت می توانید در سایت ایمن فروش عضو شوید</div>
                <div class="text-center">
                    <div class="login__icon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>

                <form method="post" autocomplete="off">
                    <input type="hidden" name="@Html.NameFor(c=>c.ReturnUrl)" value="@ViewBag.ReturnUrl" />
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            @Html.Partial("_ServiceResult")
                        </div>
                    </div>

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="required"> شماره همراه خود را وارد کنید</label>
                        <input required="" autocomplete="off" type="text" class="form-control" placeholder="شماره همراه"                              
                               asp-for="PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label class="required"> نام و نام خانوادگی خود را وارد کنید</label>
                        <input required="" autocomplete="off" type="text" class="form-control" placeholder="نام و نام خانوادگی"                              
                               asp-for="FullName">
                    </div>
                    <div class="form-group">
                        <label class="required">رمز عبور خود را وارد کنید</label>
                        <input required="" type="password" class="form-control" placeholder="رمز عبور" asp-for="Password">
                    </div>
                    <div class="form-group">
                        <label class="required">رمز عبور خود را مجددا وارد کنید</label>
                        <input required="" type="password" class="form-control" placeholder="تکرار رمز عبور" asp-for="ConfirmPasswprd">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت نام</span>
                        </button>
                    </div>
                    <div class="form-group text-center">
                        <a style="font-size: 16px;" asp-action="Login" asp-controller="Account">اگر قبلا در سایت ثبت نام کرده اید از این لینک وارد شوید</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

