@model Shop.Utility.ServiceResult<string>
@{
    ViewData["Title"] = "نتیجه پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsSuccess)
{
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="detail">
                <h3 class="text-center text-success" style="font-weight: 600;">پرداخت شما با موفقیت انجام شد </h3>
                <p class="text-center" style="font-weight: 600;">شماره پیگیری : @Model.Data</p>
                <p class="text-center" style="font-weight: 600;">
                    <a href="/user" class="btn btn-success">پیگیری سفارش</a>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="detail">
                <h3 class="text-center text-danger" style="font-weight: 600;">پرداختی انجام نشد </h3>
                <p class="text-center" style="font-weight: 600;">
                    <a href="/" class="btn btn-danger">بازگشت به ایمن فروش</a>
                </p>
            </div>
        </div>
    </div>
}

