@model int
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success" href="/Payment/Success/@Model">عملیات موفق بعد از بانک</a>
<a class="btn btn-danger" href="/">عملیات لغو پرداخت </a>

