@{
    ViewData["Title"] = "پنل ادمین ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="admin__box">
            <div>
                <i class="fa fa-users amin__box__icon"></i>
            </div>
            <div>
                <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                <div class="amin__box__title">140 نفر</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="admin__box admin__box-primary">
            <div>
                <i class="fa fa-users amin__box__icon"></i>
            </div>
            <div>
                <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                <div class="amin__box__title">140 نفر</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="admin__box admin__box-success">
            <div>
                <i class="fa fa-users amin__box__icon"></i>
            </div>
            <div>
                <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                <div class="amin__box__title">140 نفر</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="admin__box admin__box-warning">
            <div>
                <i class="fa fa-users amin__box__icon"></i>
            </div>
            <div>
                <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                <div class="amin__box__title">140 نفر</div>
            </div>
        </div>
    </div>
</div>

<div class="row grid">
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
        <div class="admin__panel">
            <div class="admin__panel__title">
                <i class="fa fa-users"></i>
                <div>مدیریت کاربران</div>
            </div>
            <a class="admin__panel__link" href="/Admin/UserManagement/Create">اضافه نمودن کاربر جدید</a>
            <a class="admin__panel__link" href="/Admin/UserManagement/Index">لیست کاربران</a>
            <a class="admin__panel__link" href="/Admin/UserManagement/Permision">صفحه دسترسی ها</a>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
        <div class="admin__panel">
            <div class="admin__panel__title">
                <i class="fa fa-users"></i>
                <div>مدیریت دسته بندی</div>
            </div>
            <a class="admin__panel__link" href="/Admin/CategoryManagement/Index">لعنت به روحانی</a>
        </div>
    </div>
</div>

<div id="tree"></div>

<script>
    $(document).ready(function () {
        var tree = $('#tree').tree({
            primaryKey: 'id',
            uiLibrary: 'bootstrap',
            dataSource: [
                { id: 1, text: 'Apple', children: [{ id: 2, text: 'Avocado' }] },
                {
                    id: 3, text: 'Banana', children: [
                        { id: 4, text: 'Beans' },
                        {
                            id: 5, text: 'Broccoli',
                            children: [{ id: 6, text: 'Bunch Grape' }]
                        }
                    ]
                }
            ],
            checkboxes: false,
        });
        $('#btnSave').on('click', function () {
            alert(tree.getSelections());
        });
    });
</script>
