
@{
    ViewData["Title"] = "پنل ادمین ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

 <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="admin__box">
                        <div>
                            <i class="fa fa-users amin__box__icon"></i>
                        </div>
                        <div>
                            <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                            <div class="amin__box__title">140 نفر</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="admin__box admin__box-primary">
                        <div>
                            <i class="fa fa-users amin__box__icon"></i>
                        </div>
                        <div>
                            <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                            <div class="amin__box__title">140 نفر</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="admin__box admin__box-success">
                        <div>
                            <i class="fa fa-users amin__box__icon"></i>
                        </div>
                        <div>
                            <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                            <div class="amin__box__title">140 نفر</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="admin__box admin__box-warning">
                        <div>
                            <i class="fa fa-users amin__box__icon"></i>
                        </div>
                        <div>
                            <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                            <div class="amin__box__title">140 نفر</div>
                        </div>
                    </div>
                </div>
            </div>

<div class="row grid">
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                    <div class="admin__panel">
                        <div class="admin__panel__title">
                            <i class="fa fa-users"></i>
                            <div>مدیریت کاربران</div>
                        </div>
                        <a class="admin__panel__link" href="#">اضافه نمودن کاربر جدید</a>
                        <a class="admin__panel__link" href="#">لیست کاربران</a>
                        <a class="admin__panel__link" href="#">لاگ های مدیریت کاربران</a>
                    </div>
                </div>
            </div>


<script src="~/js/isotope.pkgd.min.js"></script>
<script>
    $(function () {
        $('.grid').isotope({
            itemSelector: '.grid-item',
            originLeft: false
        });
    })
</script>

