@{
    ViewData["Title"] = "پنل ادمین ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int commentWatingCount = (int)ViewBag.CommentWatingCount;
}

<fieldset>
    <legend>آمار کلی سایت</legend>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="admin__box">
                <div>
                    <i class="fa fa-users amin__box__icon"></i>
                </div>
                <div>
                    <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                    <div class="amin__box__title">140 نفر</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="admin__box admin__box-primary">
                <div>
                    <i class="fa fa-users amin__box__icon"></i>
                </div>
                <div>
                    <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                    <div class="amin__box__title">140 نفر</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="admin__box admin__box-success">
                <div>
                    <i class="fa fa-users amin__box__icon"></i>
                </div>
                <div>
                    <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                    <div class="amin__box__title">140 نفر</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="admin__box admin__box-warning">
                <div>
                    <i class="fa fa-users amin__box__icon"></i>
                </div>
                <div>
                    <div class="amin__box__title">تعداد بازدید کنندگان امروز </div>
                    <div class="amin__box__title">140 نفر</div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset style="margin-top:15px">
    <legend>کارتابل مدیریتی</legend>

    <div class="row grid">

        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
            <div class="admin__panel">
                <div class="admin__panel__title">
                    <i class="fa fa-users"></i>
                    <div>مدیریت کاربران</div>
                </div>
                <a class="admin__panel__link" href="/Admin/UserManagement/Create">اضافه نمودن کاربر جدید</a>
                <a class="admin__panel__link" href="/Admin/UserManagement/Index">لیست کاربران</a>
                @* <a class="admin__panel__link" href="/Admin/UserManagement/Permision">صفحه دسترسی ها</a> *@
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
            <div class="admin__panel">
                <div class="admin__panel__title">
                    <i class="fa fa-folder-open"></i>
                    <div>مدیریت دسته بندی</div>
                </div>
                <a class="admin__panel__link" href="/Admin/CategoryManagement/Index">مدیریت دسته بندی</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
            <div class="admin__panel">
                <div class="admin__panel__title">
                    <i class="fa fa-product-hunt"></i>
                    <div>مدیریت محصولات</div>
                </div>
                <a class="admin__panel__link" href="/Admin/Product/Index">نمایش محصولات</a>
                <a class="admin__panel__link" href="/Admin/Product/Create">اضافه نمودن محصول جدید</a>
                <a class="admin__panel__link" href="/Admin/Product/CommentWating">
                    نظرات در انتظار تایید
                    @if (commentWatingCount > 0)
                    {
                        <span style="float:left;" class="badge">@commentWatingCount</span>
                    }
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
            <div class="admin__panel">
                <div class="admin__panel__title">
                    <i class="fa fa-picture-o"></i>
                    <div>مدیریت اسلایدشو</div>
                </div>
                <a class="admin__panel__link" href="/Admin/SlideShow/Index">نمایش عکس های اسلایدشو</a>
                <a class="admin__panel__link" href="/Admin/SlideShow/Create">اضافه نمودن عکس جدید</a>
            </div>
        </div>

    </div>

    <div class="row grid">

        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
            <div class="admin__panel">
                <div class="admin__panel__title">
                    <i class="fa fa-shopping-cart"></i>
                    <div>سفارشات کاربران</div>
                </div>
                <a class="admin__panel__link" href="/Admin/Order/Index">لیست همه سفارشات</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
            <div class="admin__panel">
                <div class="admin__panel__title">
                    <i class="fa fa-shopping-cart"></i>
                    <div>مدیریت اینفوها</div>
                </div>
                <a class="admin__panel__link" href="/Admin/Info/Index">لیست همه سفارشات</a>
            </div>
        </div>

    </div>

</fieldset>
