@using Shop.Mvc.Models
@using Shop.Mvc.Models.Home
@using Shop.Mvc.Models.Pagination
@using DNTPersianUtils.Core
@using Shop.Utility.Extensions

@model SearchModel<ContactUSSearchViewModel, PaginationViewModel<ContactUSViewModel>>
@{
    ViewData["Title"] = " نمایش محصولات - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">نمایش انتقادات و پیشنهادات</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">نمایش انتقادات و پیشنهادات</div>
    <div class="panel-body">
        

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>نام کاربر</th>
                        <th>نظر کاربر</th>
                        <th>تاریخ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count > 0)
                    {
                        foreach (var item in Model.Data.Data)
                        {
                            <tr>
                                
                                <td>@item.User?.FullName</td>
                                <td>@item.Description</td>
                                <td>@item.Date</td>
                                
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">داده ای یافت نشد</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Views/Shared/_Pagination.cshtml", Model.Data)
    </div>
</div>