@model Shop.Mvc.Models.Product.ProductViewModel
@{
    ViewData["Title"] = "ویرایش محصول - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item" aria-current="/UserManagement/Index">مدیریت محصولات</li>
        <li class="breadcrumb-item active" aria-current="page">ویرایش محصول</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">ویرایش محصول</div>
    <div class="panel-body">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id"/>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        @Html.Partial("_ServiceResult")
                    </div>
                </div>

                @Html.AntiForgeryToken()

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="required">عنوان محصول را وارد کنید </label>
                        <input asp-for="Title" required type="text" placeholder="عنوان محصول" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="required">قیمت محصول را وارد کنید </label>
                        <input asp-for="Price" required type="number" placeholder="قیمت محصول" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label>عکس محصول را وارد کنید </label>
                        <input type="file" name="ImageFile" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="required">تعداد را وارد کنید </label>
                        <input asp-for="Count" required type="number" placeholder="تعدادرمز عبور" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="required">توضیحات محصول را وارد کنید </label>
                        <textarea asp-for="Description" placeholder="توضیحات محصول" class="form-control"></textarea>
                    </div>
                </div>

                <hr />
                <div class="col-xs-12">
                    <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">
                        <span class="ladda-label">ثبت اطلاعات</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

