@model Shop.Mvc.Models.SlideShow.CreateSlideShowViewModel
@{
    ViewData["Title"] = "ایجاد عکس جدید برای اسلایدشو - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item"><a href="/Admin/SlideShow/Index">نمایش عکس های اسلایدشو</a></li>
        <li class="breadcrumb-item active" aria-current="page">ایجاد عکس جدید برای اسلایدشو</li>
    </ol>
</nav>

<div class="panel panel-primary" id="app">
    <div class="panel-heading">ایجاد عکس جدید برای اسلایدشو</div>
    <div class="panel-body">
        <div class="alert alert-warning">
            <p>عکس برای اسلایدشو نباید بیش از 500 کیلو بایت باشد</p>
        </div>
        <div class="row">
            <form id="form" method="post" enctype="multipart/form-data">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        @Html.Partial("_ServiceResult")
                    </div>
                </div>

                @Html.AntiForgeryToken()

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label >لینک را وارد کنید </label>
                        <input asp-for="Link" type="text" placeholder="لینک" class="form-control">
                    </div>
                </div>
               
                <hr style="clear: both;" />
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="required">عکس را وارد کنید </label>
                        <input type="file" required name="@Html.NameFor(c=>c.ImageFile)" />
                    </div>
                </div>
                <hr style="clear: both;" />
              
                <div class="col-xs-12">
                    <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">
                        <span class="ladda-label">ثبت اطلاعات</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
