<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
    <link rel="stylesheet" href="~/fonts/font-fa.css" />
    <link rel="stylesheet" href="~/css/styles.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/styleoverride.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/bootstrap-touch-slider.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/css/icons.min.css" />
    <link rel="stylesheet" href="~/lib/slick/slick.css" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/lib/laddaButton/ladda-themeless.min.css" />

    <script src="~/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-touch-slider-min.js"></script>
    <script src="~/js/jquery.touchSwipe.min.js"></script>
    <script src="~/lib/slick/slick.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="~/lib/laddaButton/spin.min.js"></script>
    <script src="~/lib/laddaButton/ladda.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/script.js"></script>

</head>
<body dir="rtl">
    <div class="admin">

        <div class="admin__header">
            <div>
                <a href="#"><i class="fa fa-diamond"></i></a>
                <a href="#">پنل مدیریتی ایمن فروش</a>
            </div>
            <div class="flex-center">

                <div class="dropdown">
                    <span class="dropdown-toggle notification" data-toggle="dropdown">
                        <span class="badge">5</span>
                        <i class="fa fa-envelope "></i>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="#">خبر هایی که کاربر مشاهده میکند</a></li>
                        <li><a href="#">خبر هایی که کاربر مشاهده میکند</a></li>
                        <li><a href="#">خبر هایی که کاربر مشاهده میکند</a></li>
                        <li><a href="#">خبر هایی که کاربر مشاهده میکند</a></li>
                        <li><a href="#">خبر هایی که کاربر مشاهده میکند</a></li>
                        <li><a href="#">مشاهده همه پیام ها</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-right: 15px;">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        مهدی حسنی خوش آمدید !
                        <span class="caret"></span>
                        <img src="~/img/user.png" class="img-circle" style="width: 40px;" />
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="#">ویرایش پروفایل </a></li>
                        <li><a href="#">تغییر رمز عبور</a></li>
                        <li><a href="#">خروج</a></li>
                    </ul>
                </div>
            </div>
            <div class="collapse-toggle">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="sidebar collapse" id="myNavbar">
            <!-- <a class="active">پنل مدیرتی وارثین نون و قلم</a> -->
            <div class="sidebar__profile">
                <div class="sidebar__profile__img">
                    <img src="~/img/user.png" class="img-circle img-responsive" />
                </div>
                <div class="sidebar__profile__title">
                    مهدی حسنی 1111
                </div>
            </div>
            <a href="#news"><i class="fa fa-asterisk" aria-hidden="true"></i> مدیریت خبرها </a>
            <a href="#contact"><i class="fa fa-asterisk" aria-hidden="true"></i> مدیریت اسلاید شو </a>
            <a href="#about"><i class="fa fa-asterisk" aria-hidden="true"></i> مدیریت اینفوها</a>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>

@Html.Partial("_Swal.cshtml")
