@model Shop.Mvc.Models.UserManagement.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
<form method="post">
    <div class="col-md-12 col-xs-12">
        <div class="form-group">
            @Html.Partial("_ServiceResult")
        </div>
    </div>
    @Html.AntiForgeryToken()
    <p>oldPAssword : <input type="text" asp-for="OldPassword" /></p>
    <p>newPAssword : <input type="text" asp-for="NewPassword" /></p>
    <p>confirmnewPAssword : <input type="text" asp-for="ConfirmNewPassword" /></p>
    <input type="submit" value="submit" />
</form>

