@model Shop.Mvc.Models.UserManagement.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر رمز عبور کاربر - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
        <li class="breadcrumb-item active" aria-current="page"> ویرایش پروفایل کاربر</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="">
        <div class="col-md-4 col-xs-12">
            <div class="cart">
                <div class="cart__title" style="margin-bottom:0">ناحیه کاربری</div>
                <a class="cart__link" asp-action="Index">سفارش های من</a>
                <a class="cart__link" asp-action="EditProfile">ویرایش پروفایل</a>
                <a class="cart__link active">تغییر رمز عبور</a>
                <a href="/Account/Logout" class="cart__link">خروج</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="cart">
                <div class="cart__title" style="margin-bottom:0"> تغییر رمز عبور کاربر</div>
                <form method="post">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            @Html.Partial("_ServiceResult")
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="required">رمز عبور قبلی را وارد کنید </label>
                            <input type="text" class="form-control" required asp-for="OldPassword"
                                placeholder="رمز عبور قبلی" />
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="required">رمز عبور جدید را وارد کنید </label>
                            <input type="text" class="form-control" required asp-for="NewPassword"
                                placeholder="رمز عبور جدید" />
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="required">نکرار رمز عبور جدید را وارد کنید </label>
                            <input type="text" class="form-control" required asp-for="ConfirmNewPassword"
                                placeholder="نکرار رمز عبور  جدید" />
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                                <span class="ladda-label">تغییر رمز عبور</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
