@{
    ViewData["Title"] = "ناحیه کاربری کاربر - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">ناحیه کاربری کاربر</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="cart">
                <div class="cart__title" style="margin-bottom:0">ناحیه کاربری</div>
                <a href="#" class="cart__link">لیست سفارشات</a>
                <a href="#" class="cart__link">ویرایش پروفایل</a>
                <a href="#" class="cart__link">تغییر رمز عبور</a>
                <a href="#" class="cart__link">خروج</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="cart">
                <div class="cart__title">لیست سفارشات</div>
                <div class="main__box">
                    <div class="main__box__item">
                        <div>
                            <p>شماره سفارش : 12345 </p>
                            <p>قیمت سفارش : 123,000 تومان</p>
                        </div>
                        <div>
                            <p>تاریخ سفارش : 23 آدر 99</p>
                            <p>وضعیت : <span class="text-success">پرداخت شده </span> <span class="text-danger">پرداخت نشده </span></p>
                        </div>
                        <div data-toggle="collapse" data-target="#item1" class="main__box__item__more collapsed"
                            aria-expanded="false"><i data-toggle="tooltip" title="" class="fa fa-angle-double-down"
                                data-original-title="جزییات بیشتر"></i></div>
                    </div>
                    <div id="item1" class="collapse" aria-expanded="false" style="height: 0px;">
                        <div class="wrapper__main__box__detail">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>عکس محصول</th>
                                                <th>نام محصول</th>
                                                <th>تعداد محصول</th>
                                                <th>قیمت محصول</th>
                                                <th>مجکوع</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>50%</td>
                                                <td>55%</td>
                                                <td>70%</td>
                                                <td>80%</td>
                                                <td>80%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
