.checkbox label,
.radio label {
    font-weight: 600;
    font-size: 15px;
}

.panel-body {
    direction: rtl;
}

.ladda-button {
    direction: ltr;
}

label[class="required"] {
    position: relative;
    padding-right: 10px;
}

label[class="required"]::before {
    position: absolute;
    content: "*";
    top: 0px;
    right: 0px;
    color: #f00;
    font-size: 18px;
}

ul.bt-list-bootstrap {
    direction: rtl;
}

ul.bt-list-bootstrap li [data-role="display"] {
    font-weight: 600;
    font-size: 18px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bt-tree-bootstrap-3 ul.bt-list-bootstrap li.active {
    border-radius: 5px;
}

.tree-admin {
    font-size: 18px;
    font-weight: 600;
}

.tree-admin  ul,
ul.tree-admin {
    list-style: none;
    margin: 0px;
}

ul.tree-admin {
    padding: 0;
}
ul.tree-admin a {
    font-size: 16px;
}

.modal {
    direction: rtl;
}

.modal-header .close {
    outline: 0 !important;
}