* {
  box-sizing: border-box;
}
body {
  font-size: 11px;
  font-family: "Shabnam";
  margin: 0;
  overflow-x: hidden;
  direction: ltr;
}
.badge {
  font-size: 18px;
  background-color: #e52b52;
}
del {
  font-size: 18px;
  color: #e52b52;
  font-weight: bold;
  margin-left: 10px;
}
a {
  text-decoration: none !important;
}
.flex-center {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .col-xs-hide {
    display: none;
  }
}
.glyphicon {
  position: relative;
  top: 3px;
}
.form-control:focus {
  border-color: #ff8ca4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 5, 0.075), 0 0 8px #ff8ca4;
}
.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .option {
    display: none;
  }
}
.option .option__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.option .option__item img {
  width: 150px;
}
.option .option__item div {
  color: #111;
  font-weight: 600;
}
.breadcrumb {
  direction: rtl;
  margin-top: 20px;
}
.breadcrumb > li {
  font-weight: 600;
  font-size: 18px;
}
.btn-danger {
  background-color: #e52b52;
}
.running {
  padding: 0 10px;
  font-size: 17px;
  color: #111;
  font-weight: 600;
}
.bg-header {
  min-height: 250px;
  width: 100%;
  background-image: url("../img/bg-header.png");
  margin-top: 20px;
  background-size: cover;
  position: relative;
  padding: 30px 10px;
  border-top: 3px solid #e52b52;
  border-bottom: 3px solid #e52b52;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: #0b1520;
  opacity: 0.7;
}
.bg-header .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #fff;
  z-index: 1;
  margin: 0;
  text-shadow: 1px 5px 4px #e52b52;
}
.bg-header .desc {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #fff;
  z-index: 1;
  text-shadow: 1px 5px 4px #e52b52;
  margin-top: 15px;
}
.header {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 10px #ccc;
  direction: rtl;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}
.header .header__btn-cart i.fa {
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.header .header__btn-cart span {
  margin-right: 10px;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
  border-radius: 0px !important;
  border-bottom: 1px solid #eee;
  direction: rtl;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a {
  font-size: 12px;
  font-weight: 600;
  color: #111;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #e52b52;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #eee;
  color: #e52b52;
}
.navbar-toggle {
  background-color: #333;
}
.navbar-brand {
  color: #333 !important;
  padding: 5px 10px;
  height: auto;
  font-size: 16px;
  line-height: 20px;
  margin-top: 9px;
  margin-right: 15px;
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: block;
  }
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  outline-offset: 0px !important;
}
.btn {
  padding: 5px 12px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px 0;
  box-shadow: 0px 10px 10px #ccc;
  direction: rtl;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}
.sidenav .sidenav__content {
  padding: 10px;
}
.sidenav .sidenav__content .sidenav__content__title {
  color: #111;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.sidenav .sidenav__content .sidenav__content__img {
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.sidenav .sidenav__content .sidenav__content__img img {
  margin: auto;
}
.tree {
  margin-top: 10px;
}
.tree ul,
.tree #myUL {
  list-style-type: none;
}
.tree a {
  font-size: 14px;
  font-weight: 600;
  color: #111;
}
.tree #myUL {
  margin: 0;
  padding: 0;
}
.tree #myUL li {
  margin-right: 10px;
}
.tree .parent {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.tree .parent::before {
  content: "\f055";
  color: black;
  display: inline-block;
  margin-left: 6px;
  font-family: FontAwesome;
  position: relative;
  top: 2px;
}
.tree .parent-down::before {
  content: "\f056";
  color: black;
  display: inline-block;
  margin-left: 6px;
  font-family: FontAwesome;
  position: relative;
  top: 2px;
}
.tree .nested {
  display: none;
}
.tree .active {
  display: block;
}
.scroll-top {
  background-color: #5e6b7b;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.scroll-top i.fa {
  margin: 0 5px;
  position: relative;
  top: 2px;
}
.footer-bottom {
  background-color: #5e6b7b;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.footer-bottom a {
  color: #ff8ca4;
}
.footer {
  padding: 20px 0;
  background-color: #232f3e;
}
.footer .footer__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.footer .footer__option .footer__option__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.footer .footer__option .footer__option__item img {
  width: 100px;
}
.footer .footer__option .footer__option__item div {
  color: #fff;
  font-weight: 600;
}
.footer .footer__info {
  margin-top: 20px;
  color: #fff;
}
.footer .footer__info .footer__info__title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer .footer__info .footer__info__title {
    margin-top: 15px;
  }
}
.footer .footer__info .footer__info__link,
.footer .footer__info p {
  color: #fff;
  display: block;
  text-align: right;
  margin: 10px 0;
  font-size: 16px;
}
.footer .footer__info .footer__info__link:hover {
  color: #e52b52;
}
.footer .footer__info .footer__info__share {
  width: 30px;
  margin-left: 10px;
}
.slick {
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  border: 1px solid #eee;
  margin: 20px 0 0;
  padding: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .slick {
    border-radius: 0px;
  }
}
.slick .slick__arrow .slick__arrow__left,
.slick .slick__arrow .slick__arrow__right {
  position: absolute;
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid #ccc;
  top: 45%;
  height: 60px;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  background-color: #ffffff;
}
.slick .slick__arrow .slick__arrow__right {
  right: 1px;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}
.slick .slick__arrow .slick__arrow__left {
  left: 1px;
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
}
.slick .slick__product {
  direction: ltr;
  margin-top: 15px;
}
.slick .slick__product .slick__product__item {
  margin: 5px;
  border-radius: 5px;
  display: block;
  transition: all 0.4s;
}
.slick .slick__product .slick__product__item:hover {
  box-shadow: 0px 0px 10px #ccc;
}
.slick .slick__product .slick__product__item .slick__product__item__title {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #4a5f73;
  margin-top: 15px;
}
.slick .slick__product .slick__product__item .slick__product__item__img {
  text-align: center;
  height: 200px;
}
.slick .slick__product .slick__product__item .slick__product__item__img img {
  max-height: 200px;
  margin: auto;
}
.slick .slick__product .slick__product__item .slick__product__item__price {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  color: #111;
}
.slick .slick__product .slick__product__item .slick__product__item__btn {
  padding: 10px;
}
.slick .slick__title {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  position: relative;
}
.slick .slick__title::before {
  position: absolute;
  top: 37px;
  right: 0px;
  content: "";
  width: 150px;
  height: 2px;
  background-color: #e52b52;
}
.slick .slick__title a {
  float: left;
  font-size: 14px;
}
.slick .slick__title a i {
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.carousel {
  margin-top: 20px;
  direction: ltr;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .carousel {
    border-radius: 0;
    margin-top: 0;
  }
}
.carousel .item {
  background-color: #777;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .carousel .item {
    border-radius: 0;
  }
}
.category {
  box-shadow: 1px 1px 10px #ccc;
  border: 1px solid #ccc;
  overflow: hidden;
}
.category form {
  padding: 10px;
  direction: rtl;
}
.category .col-md-3.col-sm-6.col-xs-12 {
  padding: 0;
  margin: 0;
}
.category .category__item {
  display: block;
  transition: all 0.4s;
  border: 1px solid #ddd;
}
.category .category__item:hover {
  box-shadow: 0px 0px 10px #ccc;
}
.category .category__item .category__item__title {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #4a5f73;
  margin-top: 15px;
}
.category .category__item .category__item__img {
  text-align: center;
  height: 200px;
}
.category .category__item .category__item__img img {
  max-height: 200px;
  margin: auto;
}
.category .category__item .category__item__price {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  color: #111;
}
.category .category__item .category__item__btn {
  padding: 10px;
}
.page {
  text-align: center;
}
.page .pagination > .active > a,
.page .pagination > .active > a:focus,
.page .pagination > .active > a:hover,
.page .pagination > .active > span,
.page .pagination > .active > span:focus,
.page .pagination > .active > span:hover {
  background-color: #e52b52;
  border-color: #e52b52;
}
.page .pagination {
  margin: 20px 0 0;
}
@media screen and (max-width: 991px) {
  .control-group {
    margin-bottom: 10px;
  }
}
.offer {
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  border: 1px solid #eee;
  margin: 20px 0 0;
  padding: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .offer {
    border-radius: 0px;
  }
}
.offer .offer__arrow .offer__arrow__left,
.offer .offer__arrow .offer__arrow__right {
  position: absolute;
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid #ccc;
  top: 45%;
  height: 60px;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  background-color: #ffffff;
}
.offer .offer__arrow .offer__arrow__right {
  right: 1px;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}
.offer .offer__arrow .offer__arrow__left {
  left: 1px;
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
}
.offer .offer__product {
  direction: ltr;
  margin-top: 15px;
}
.offer .offer__product .offer__product__item {
  margin: 5px;
  border-radius: 5px;
  display: block;
  transition: all 0.4s;
}
.offer .offer__product .offer__product__item .offer__product__item__title {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #4a5f73;
  margin-top: 15px;
}
.offer .offer__product .offer__product__item .offer__product__item__img {
  text-align: center;
}
.offer .offer__product .offer__product__item .offer__product__item__img img {
  margin: auto;
}
.offer .offer__product .offer__product__item .offer__product__item__price {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  color: #111;
}
.offer .offer__product .offer__product__item .offer__product__item__btn {
  padding: 10px;
}
.offer .offer__title {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  position: relative;
}
.offer .offer__title::before {
  position: absolute;
  top: 37px;
  right: 0px;
  content: "";
  width: 150px;
  height: 2px;
  background-color: #e52b52;
}
.offer .offer__title a {
  float: left;
  font-size: 14px;
}
.offer .offer__title a i {
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.detail {
  box-shadow: 1px 1px 10px #ccc;
  border: 1px solid #cccccc;
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
}
.detail .detail__title {
  text-align: right;
  font-weight: 600;
}
.detail .detail__img {
  text-align: center;
}
.detail .detail__img img {
  margin: auto;
  cursor: pointer;
}
.detail .detail__img-detail {
  margin-top: 20px;
}
.detail .detail__img-detail .col-xs-3 {
  padding: 5px;
}
.detail .detail__img-detail img {
  cursor: pointer;
}
.detail .detail__desc {
  font-size: 18px;
  color: #111;
  font-weight: 600;
  text-align: right;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
.detail .detail__price {
  font-size: 25px;
  text-align: left;
  color: #111;
  font-weight: 600;
  padding: 5px 10px;
}
.detail .detail__feature .detail__feature__title {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 20px;
}
.detail .detail__feature .detail__feature__list {
  padding: 0;
  margin: 0;
  direction: rtl;
  list-style: none;
}
.detail .detail__feature .detail__feature__list li {
  font-size: 16px;
  padding: 5px 15px;
  position: relative;
}
.detail .detail__feature .detail__feature__list li::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 12px;
  width: 8px;
  height: 8px;
  background-color: #e52b52;
  border-radius: 50%;
}
.form-group {
  direction: rtl;
}
.form-group label {
  font-size: 14px;
}
.detail-tab {
  box-shadow: 1px 1px 10px #ccc;
  border: 1px solid #cccccc;
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}
.detail-tab .tab-content > .active {
  direction: rtl;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  margin-top: 20px;
}
.detail-tab .nav-tabs > li > a {
  font-size: 16px;
  font-weight: 600;
}
.detail-tab .detail-tap__comment {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}
.detail-tab .detail-tap__comment img {
  width: 80px;
}
.detail-tab .detail-tap__comment p {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}
.cart {
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  overflow: hidden;
}
.cart .cart__title {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.cart .cart__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  direction: rtl;
  margin-bottom: 15px;
}
.table {
  direction: rtl;
}
.table tbody > tr > td > img {
  max-width: 80px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  font-size: 16px;
}
.input-group {
  direction: rtl;
}
.login {
  background-color: #fff;
  box-shadow: 0px 0px 1px #ccc;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 2px solid #e52b52;
}
.login .login__title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}
.login .login__desc {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
}
.login .login__desc::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 140px;
  height: 2px;
  background-color: #e52b52;
  left: calc(50% - 60px);
}
.login .login__icon {
  margin: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.login .login__icon i {
  font-size: 30px;
  color: #e52b52;
}
.admin .admin__header {
  background-color: #fff;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  box-shadow: 0px 2px 5px #999;
  border-bottom: 1px solid #ccc;
}
.admin .admin__header .dropdown-toggle {
  color: #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.admin .admin__header .dropdown-menu {
  padding: 0px;
}
.admin .admin__header .dropdown-menu a {
  color: #000;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  border-top: 1px solid #ccc;
}
.admin .admin__header a {
  text-decoration: none;
  color: #000;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}
.admin .sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #fff;
  position: fixed;
  height: calc(100% - 60px) !important;
  overflow: auto;
  top: 60px;
  right: 0;
  direction: rtl;
  box-shadow: 0px 5px 5px #999;
  border-top: 1px solid #ccc;
}
@media (max-width: 767px) {
  .admin .sidebar.in {
    display: block;
    position: static;
    height: auto;
    width: 100%;
    margin-top: 60px;
    margin-bottom: -60px;
  }
}
@media (min-width: 767px) {
  .admin .sidebar.collapse {
    display: block;
  }
}
.admin .sidebar .sidebar__profile {
  padding: 10px;
  background-color: #eeeeee75;
}
.admin .sidebar .sidebar__profile .sidebar__profile__img {
  text-align: center;
}
.admin .sidebar .sidebar__profile .sidebar__profile__img img {
  max-width: 100px;
  border: 2px solid #337ab7;
  margin: auto;
}
.admin .sidebar .sidebar__profile .sidebar__profile__title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.admin .sidebar a {
  display: block;
  color: #337ab7;
  font-weight: 600;
  padding: 14px;
  text-decoration: none;
  font-size: 15px;
  border-top: 1px solid #ccc;
}
.admin .sidebar a.active {
  background-color: #08467a;
  color: white;
}
.admin .sidebar a:hover:not(.active) {
  background-color: #eeeeee75;
}
.admin .content {
  margin-right: 230px;
  padding: 20px;
  margin-top: 60px;
}
.admin .admin__box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #e52b52;
  border-radius: 5px;
  margin-bottom: 15px;
  direction: rtl;
  padding: 10px;
  color: #fff;
}
.admin .admin__box .amin__box__title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.admin .admin__box .amin__box__icon {
  font-size: 40px;
  font-weight: 600;
}
.admin .admin__panel {
  box-shadow: 0px 0px 10px #ccc;
  border: 1px solid #ccc;
  border-top: 3px solid #e52b52;
  direction: rtl;
  margin: 0 0 20px;
  border-radius: 5px;
}
.admin .admin__panel .admin__panel__title {
  display: flex;
  align-items: center;
  background-color: #eee;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
}
.admin .admin__panel .admin__panel__title i {
  font-size: 40px;
  margin-left: 15px;
}
.admin .admin__panel .admin__panel__link {
  display: block;
  color: #337ab7;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  border-top: 1px solid #ccc;
}
.admin .admin__panel .admin__panel__link:hover {
  background-color: #eeeeee75;
}
.admin .admin__box-primary {
  background-color: #337ab7 !important;
}
.admin .admin__box-success {
  background-color: #28a745 !important;
}
.admin .admin__box-warning {
  background-color: #ffc107 !important;
}
.admin .breadcrumb {
  margin-top: 0 !important;
}
.admin .panel .panel-primary > .panel-heading {
  font-weight: 600;
  font-size: 20px;
  background-color: #00bfff !important;
}
.admin .breadcrumb a {
  font-size: 16px;
  font-weight: 600;
}
.admin .navbar-toggle {
  background-color: transparent;
  border: 1px solid #000;
}
.admin .navbar-toggle .icon-bar {
  background-color: #000;
}
.admin .collapse-toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  .admin .sidebar {
    display: none;
  }
  .admin .sidebar .sidebar__profile {
    display: none;
  }
  .admin .collapse-toggle {
    display: block;
  }
  .admin .content {
    margin-right: 0px;
  }
  .admin > .admin__header > .dropdown {
    display: none;
  }
}
.panel-primary > .panel-heading {
  direction: rtl;
  font-size: 18px;
  font-weight: 600;
}
.notification i.fa {
  font-size: 28px;
  position: relative;
}
.notification .badge {
  position: absolute;
  top: -5px;
  right: -15px;
  z-index: 10;
}

/*# sourceMappingURL=styles.css.map */
