@{
    ViewData["Title"] = "دسترسی های کاربر - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">مدیریت کاربران</li>
        <li class="breadcrumb-item active" aria-current="page">دسترسی کاربر</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">دسترسی کاربر</div>
    <div class="panel-body">
        <div class="row grid">
            <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                <div class="admin__panel" style="box-shadow: none;">
                    <div class="admin__panel__title">
                        <i class="fa fa-users"></i>
                        <div>مدیریت کاربران</div>
                    </div>
                    <div style="padding:5px 10px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">ایجاد نمودن کاربر جدید</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">مشاهده لیست کاربران</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">مشاهده لیست کاربران</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">مشاهده لیست کاربران</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                <div class="admin__panel" style="box-shadow: none;">
                    <div class="admin__panel__title">
                        <i class="fa fa-users"></i>
                        <div>مدیریت کاربران</div>
                    </div>
                    <div style="padding:5px 10px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">ایجاد نمودن کاربر جدید</label>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                <div class="admin__panel" style="box-shadow: none;">
                    <div class="admin__panel__title">
                        <i class="fa fa-users"></i>
                        <div>مدیریت کاربران</div>
                    </div>
                    <div style="padding:5px 10px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">ایجاد نمودن کاربر جدید</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">مشاهده لیست کاربران</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                <div class="admin__panel" style="box-shadow: none;">
                    <div class="admin__panel__title">
                        <i class="fa fa-users"></i>
                        <div>مدیریت کاربران</div>
                    </div>
                    <div style="padding:5px 10px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">ایجاد نمودن کاربر جدید</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">مشاهده لیست کاربران</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                <div class="admin__panel" style="box-shadow: none;">
                    <div class="admin__panel__title">
                        <i class="fa fa-users"></i>
                        <div>مدیریت کاربران</div>
                    </div>
                    <div style="padding:5px 10px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">ایجاد نمودن کاربر جدید</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">مشاهده لیست کاربران</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
